body {
  background-color: rgb(52, 52, 103);
  min-height: 100vh;
}

.wrapper-center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.question-footer {
  border-top: 1px solid rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-between;
}

.quiz-card {
  width: 30rem;
}

.answer-card {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.answer-card:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.card-img-top {
  filter: brightness(60%);
}
.img-question-box {
  position: relative;
}
.question-text {
  position: absolute;
  color: white;
  z-index: 500;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(39, 39, 39);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.repeat-button {
  background-color: rgb(39, 39, 39);
  color: white;
  font-weight: 700;
  border: 1px solid white;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}
.repeat-button:hover {
  background-color: rgb(54, 54, 54);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.d-none {
  display: none;
}

.highlight-right-answer {
  background-color: green;
}

.highlight-wrong-answer {
  background-color: red;
}